body::before{
    display: block;
    content: '';
    height: 60 px;
}


#map{
    width: 400px; 
    height: 300px;
    border-radius:10px;
}

@media(min-width:768px){
    .news-input{
        width: 505;
    }
}